@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Nav Section */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}

nav a{
    color: green;
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Banner Section Added */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: #C6E4D6;
    padding: 50px;
    border-radius: 30px;
}

.banner h1{
    padding: 20px 0;
}

.banner h4{
    color: gray;
}

.banner .info{
    padding: 80px;
}

.banner .info button,.card-one button,.card-two button, .card-three button{
    padding: 10px 20px;
    background-color: #006A50;
    color: white;
    font-weight: bold;
    font-family: "Fira Sans", serif;
    border: none;
    border-radius: 10px;
}

.banner img{
    padding: 30px;
}

/* vision and card */

.vision-cards{
    width: 80%;
    margin: 50px auto;
}

.vision{
    margin: 40px 0;
}

.vision p{
    margin: 20px 0;
    color: gray;
}
.cards{
    display: flex;
    gap: 30px;
}

.cards h4{
    margin: 20px 0;
}

.cards button{
    margin: 20px 0;
}

.card-one,.card-two,.card-three{
    background-color: #81b4fc65;
    padding: 30px;
    border-radius: 10px;
}

.card-one button{
    background-color: #5490F5;
}

.card-two{
    background-color: #C6E4D6;
}

.card-two button{
    background-color: #09A15C;
}

.card-three{
    background-color: #F7EBCF;
}

.card-three button{
    background-color: #FFC239;
}

.cards p{
    color: gray;
}

/* Quote */
.quotation{
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.quote{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position:top left;
}

q{
    display: block;
    padding: 30px 0;  
}



